<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/8.4/phpunit.xsd"
        bootstrap="tests/bootstrap.php"
        verbose="true"
        colors="true">
    <php>
        <env name="API_KEY" value="16b86ee31dd7dfe34f33c68999130b8e7aa572ec63ea9e2c1bf69938c18a368a"/>
        <env name="ENDPOINT" value="https://www.virustotal.com/vtapi/v2/"/>
    </php>
    <testsuites>
        <testsuite name="default">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>